body {
    background-image: url(./assets/6.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px
    
}
#LinkedInBotten{
    border: 1px solid #1cc5bc;
    color: white;
    background-color: rgba(245, 245, 245, 0)
}
#MyWork{
    border: 1.1px solid #1cc5bc;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
#About {
    height: -500px;
}

#message{ 
    background-image: linear-gradient(#0e141d,#0e141d, #0e141d, #0e141d, #0e141d, #0e141d, #0e141d, #0e141d,#0e141d, #0e141d, white);
}
#name{
    background-image: linear-gradient(#0e141d,#0e141d, #0e141d, #0e141d, #0e141d, #0e141d, white);
    color: white;
}
#email{
    background-image: linear-gradient(#0e141d,#0e141d, #0e141d, #0e141d, #0e141d, #0e141d, white);
    color: white
}
.cities {
    border: 1.1px solid #1cc5bc;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 40px;
    padding: 20px;
  }
  #CssImg{ 
      size: 391 × 212px!important;
  }
  
  #pic1{
      width: 620px;
      height: 360px;
      position: relative;
      left: 30px;
      
  }
  #pic2{
    width: 620px;
    height: 360px;
    position: relative;
    right: -120px;
}
#pic3{
    width: 620px;
    height: 360px;
    position: relative;
    left: 30px;
    top: 10px;
}
#pic4{
    width: 620px;
    height: 360px;
    position: relative;
    right: -120px;
    top: 10px;
}
#pic5{
    width: 620px;
    height: 360px;
    position: relative;
    top: -620px;
    left: 440px;
}
#Check{
    color: white;
}
#check1{
    color: #1cc5bc;
}