body {
    background-image: url(./assets/6.jpg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px
}
#LinkedInBotten{
    border: 1.8px solid #1cc5bc;
    color: white;
    background-color: white;
}
#MyWork{
    border: 1.1px solid #1cc5bc;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: center;
}
#About {
    height: -500px;
}
#message{ 
    background-image: linear-gradient(#0e141d,#0e141d, #0e141d, #0e141d, #0e141d, #0e141d, #0e141d, #0e141d,#0e141d, #0e141d, white);
}
#name{
    background-image: linear-gradient(#0e141d,#0e141d, #0e141d, #0e141d, #0e141d, #0e141d, white);
    color: white;
}
#email{
    background-image: linear-gradient(#0e141d,#0e141d, #0e141d, #0e141d, #0e141d, #0e141d, white);
    color: white
}
.cities {
    display: flex;
    border: 1.1px solid #1cc5bc;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    size: 80%;
    justify-content: center;
    position: center;
    min-width: 320px;
    padding: 20px;
    min-width: 535px;
}
#CssImg{ 
    size: 391 × 212px!important;
}

#pic1{ 
    width: 520px;
    height: 350px;
    max-width: 520px;
    padding-top: 20px;

}
#pic2{
    width: 520px;
    height: 350px;
    max-width: 520px;
    padding-top: 20px;

}
#pic3{
    width: 520px;
    height: 350px;
    padding-top: 20px;
    max-width: 520px;
}
#pic4{
    width: 520px;
    height: 350px;  
    padding-top: 20px;
    max-width: 520px;
}
#pic5{
    width: 520px;
    height: 350px;
    padding-top: 20px;
    max-width: 520px;
}
#Check{
    color: white;
    font-size: 40px;
    min-width: 540px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
#check1{
    color: #1cc5bc;
    font-size: 20px;
    min-width: 540px;
    /* background-color: rgba(0, 0, 0, 0.5); */

}

.Hope{
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 530px;
}

.flex-container {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    min-width: 540px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1850px;
    justify-content: space-around;
    
}

#Me{
    color: #1cc5bc;
    font-size: 16px;
}

#pic123{
    width: 60px;
    height: 38px;
    top: 0px;
}
#MyLinkedIn{
    width: 110px;
    height: 30px;
}

#navbarNav{
    
}