#header {
    background-color: transparent;
    color: white;
    font-size: 45px;
    text-align: center; 
    min-height: 350px;
    margin-top: 10%;
    min-width: 568px;
    position: center;
    
}

#web{
   color:  #1cc5bc;
}
