#header {
    /* background-image: url(./assets/pic1.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; */
    background-color: transparent;
    color: white;
    font-size: 45px;
    
}
.jumbotron {
text-align: center; 
}
#web{
   color:  #1cc5bc;
}
