@import "variables.css";
@import "header.css";
@import "body.css";
@import "navbar.css";
@import "about.css";
@import "project.css";
@import "contact.css";
@import "footer.css";

.Around {
    padding: 2rem;
}

/* .Inside{
    display: flex;
} */
.page-wrap{
    max-width: 1920px;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

